<ion-header>
  <ion-toolbar>
    <ion-title>
      Cars list
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let car of this.listOfCars; let i = index">
    <ion-item (click)="goToEdit(i)">
      <ion-label>{{car.model}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab horizontal="end" vertical="bottom">
    <ion-fab-button (click)="goToRegister()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
